.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.footer {
  height: 2rem;
  background-color: #673ab7;
  color: rgba(255, 255, 255, .7);
  padding-top: .5rem;
  padding-left: .5rem;
  font-family: Helvetica;
  font-weight: 100;
}
