<mat-dialog-content>
    <h3>Create A New Item!</h3>
    <form [formGroup]="detailForm" novalidate>
        <mat-form-field>
            <input matInput placeholder="Item Name" formControlName="itemName" name="itemName" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Item Image" formControlName="imageFileContent" name="image">
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Item Type" formControlName="itemType" name="itemType">
                <mat-option value="VideoGame">Video Game</mat-option>
                <mat-option value="Book">Book</mat-option>
                <mat-option value="Movie">Movie</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="btnGroup">
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="save()" color="accent">Save</button>
</mat-dialog-actions>