<section class="container">
    <mat-card class="profile-card">
      <div class="card-image">
      </div>
      <mat-card-content class="card-content">
        <mat-card-title>
          Profile Information
        </mat-card-title>
        <div>
            <label class="profile-label">Name:</label>
            <p>{{user.name}}</p>
        </div>
        <div>
            <label class="profile-label">Email:</label>
            <p>{{user.emailAddress}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </section>