@import '../../../styles.scss';

mat-dialog-content {
    text-align: center;
    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}