
.item-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  justify-content: space-evenly;
}

.item-card {
  margin: 10px 10px;
  max-width: 260px;
  max-height: 340px;
  justify-content: space-evenly;
}

.card-image img {
  max-width: 180px;
  max-height: 100px;
}


