<div class="item-card-container">
  <mat-card class="item-card"  *ngFor="let item of items">
    <mat-card-header class="card-image">
      <img src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" />
    </mat-card-header>
    <mat-card-content class="card-content">
      <div>
        {{item.ItemName}}
        {{item.Owner}}
      </div>
      <div>Sun Mar 08 2020</div>
      <div>{{item.CanBeBorrowed}}</div>
      <div>Sun Mar 08 2020</div>
    </mat-card-content>
  </mat-card>
</div>

