<section class="item-card-container">
  <mat-card class="item-card" *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title>{{item.itemName}}</mat-card-title>
      <mat-card-subtitle>{{item.lentOut ? item.lentTo + ' has it!' : 'Created on ' + item.createdOnDate }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="card-content">
      <div class="card-image">
        <img mat-card-image src={{item.image}} />
      </div>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button>Edit</a>
      <a mat-flat-button>Delete</a>
    </mat-card-actions>
  </mat-card>
</section>